<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings/>
  <appSettings>
    <add key="UseKeyPreview" value="1"/>
    <add key="UseHelpKey" value="1"/>
    <add key="DateFormat" value="dd.MM.yyyy"/>
    <add key="DateFormatWithHour" value="dd.MM.yyyy HH:mm"/>
    <add key="DataBaseAcces" value="GS_Comenzi"/>
    <add key="LoadLastApp" value="1"/>
    <add key="LoadLastDeschidere" value="1"/>
    <add key="App" value="Comenzi"/>
    <add key="DefaultRole" value="1"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
